Django
djangorestframework
django-cors-headers
django-celery-beat
django-environ
django-redis
celery
redis
psycopg2-binary
python-decouple  # Replaces python-dotenv
python-dotenv
flask
requests
dj-database-url
